# CPU temp

# https://joonas-fi-blog.dev.fn61.net/2021/07/stable-device-path-for-linux-hwmon-interfaces/
# NOTE: we're banking on only one of these rules matching. if multiple match, the result is.. undefined?

# AMD Ryzen 2400G (Raven/Raven2 Device 24: Function 3)
ACTION=="add", SUBSYSTEM=="hwmon", ATTRS{vendor}=="0x1022", ATTRS{device}=="0x15eb", RUN+="/bin/sh -c 'ln -s /sys$devpath/temp1_input /dev/cpu_temp'"

# HTPC (AMD)
ACTION=="add", SUBSYSTEM=="hwmon", ATTR{name}=="atk0110", RUN+="/bin/sh -c 'ln -s /sys$devpath/temp1_input /dev/cpu_temp'"

# worklaptop (Intel), temp1 = package temperature
ACTION=="add", SUBSYSTEM=="hwmon", ATTR{name}=="coretemp", RUN+="/bin/sh -c 'ln -s /sys$devpath/temp1_input /dev/cpu_temp'"

