ACTION=="add",    RUN+="/usr/bin/hautomo-client udev add    --device '%p' --bus-num '$attr{busnum}' --dev-num '$attr{devnum}'"
ACTION=="remove", RUN+="/usr/bin/hautomo-client udev remove --device '%p' --bus-num '$attr{busnum}' --dev-num '$attr{devnum}'"

