[Unit]
Description=Hautomo client

[Install]
WantedBy=default.target

[Service]
ExecStart=/usr/bin/hautomo-client server
Restart=always
RestartSec=10s
