[Unit]
Description=Varasto FUSE server

[Install]
WantedBy=default.target

[Service]
ExecStart=sh -c 'temp="$(mktemp -u)" && mkfifo "$temp" && cat "$temp" | /usr/bin/sto fuse serve'
Restart=always
RestartSec=10s
