[Unit]
ConditionHost=htpc

[Mount]
What=LABEL=fatal-behemoth
Where=/mnt/varasto/fatal-behemoth
Options=defaults,nofail,noatime

[Install]
WantedBy=multi-user.target
