[Unit]
ConditionHost=htpc

[Mount]
What=LABEL=scruffy
Where=/mnt/varasto/scruffy
Options=defaults,nofail,noatime

[Install]
WantedBy=multi-user.target
