[Unit]
ConditionHost=htpc

[Mount]
What=LABEL=Calculon
Where=/mnt/varasto/calculon
Options=defaults,nofail,noatime

[Install]
WantedBy=multi-user.target
