[Unit]
ConditionHost=htpc

[Mount]
What=LABEL=hypnotoad
Where=/mnt/varasto/hypnotoad
Options=defaults,nofail,noatime

[Install]
WantedBy=multi-user.target
