[Unit]
ConditionHost=htpc

[Mount]
What=LABEL=Wernstrom
Where=/mnt/varasto/wernstrom
Options=defaults,nofail,noatime

[Install]
WantedBy=multi-user.target
